SPRING_DATA_MONGODB_URI=
CYANIDE_API_KEY=
STAGE_MATCH_ARCHIVE_ENABLED=
STAGE_MATCH_ARCHIVE_DATABASE=
STAGE_MATCH_ARCHIVE_COLLECTION=
LEAGUE_SYSTEM_DISCOVERY_NOTIFICATIONS_ENABLED=
LEAGUE_SYSTEM_DISCOVERY_NOTIFICATIONS_FROM=
LEAGUE_SYSTEM_DISCOVERY_NOTIFICATIONS_CRON=
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
