HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

node_modules
node
frontend/public/index.js
frontend/public/index.js.LICENSE.txt

http-client.env.json
frontend/coverage
frontend/public/*.md
frontend/public/version.json

backend/src/main/resources/img/bb3

/data
.env
sync.sh
fetchMongoData.sh
package-lock.json
frontend/package-lock.json
warpscores-*.tar
cyanide-api/maven-build.xml
cyanide-api/maven-build.properties
backend/maven-build.xml
backend/maven-build.properties
cyanide-api/build.xml
backend/build.xml
docker-compose-production.yaml
my-compose.yaml
frontend/package-lock.json
